body {
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#moonimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centre {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  font-family: Arial;
  text-shadow: 2px 2px 10px #000000;
  color: white;
  vertical-align: middle;
  border-collapse: collapse;
}
.tcentre {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
tr:hover {
  border-color: green;
  background-color:green;
  color:white;
}
td {
  white-space: nowrap;
}
#a:link {color: #fff; text-decoration: none;}
#a:active {color: #fff;}
#a:visited {color: #fff;}
#a:hover {color: #fff;}
#starmap { position:absolute; margin:0; top:0; bottom:0; height:100%; width:100%; font-family: Arial; }
.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
  background: none;
  border: 0;
  margin: 0;
}
